<%= form_with(model: blog) do |form| %>
   <%= render 'shared/errors', obj: @blog %>
  <div class="wrapper">
 <div id="formContent">
 <div class="d-flex justify-content-center flex-column">
    <%= form.label :blog_title, class:"font-weight-bold", style: "display: inline-block " %>
    <%= form.text_field :blog_title ,class:" second" %>
  </div>

  <div>
    <%= form.label :blog_description, class:"font-weight-bold", style: "display:block" %>
    <%= form.text_field :blog_description  , class:" second"%>
  </div>
  
  <div>
    <%= form.submit class:"fourth " %>
  </div>
  
      
  </div>
</div>

  

<% end %>

